.fixedVewMore{
  position: fixed;
  top: 10em;
  left: 0em;
  border-radius: 5px;
  background-color: hsl(235, 20%, 25%);
  color: white;
  padding: 5px;
  margin-left: 5px;
}

@media only screen and (max-width: 800px) {
    .fixedVewMore{
        top:20em;
        left: 0em;
        background-color:  hsl(235deg 20% 25% / 52%);
    }
}